*:not(.md *) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: Pretendard;
  transition:
    opacity 0.2s,
    gap 0.2s,
    width 0.2s,
    color 0.2s,
    background-color 0.2s;
}
main {
  position: relative;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.display-none {
  display: none !important;
}
